
<!DOCTYPE HTML>


<html>
<head>
    <link rel="shortcut icon" href="~/Content/images/ssss.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/Admin/css/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="~/Content/Admin/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Content/Admin/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/Admin/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
</head>



<body>

    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <!--heder end here-->


                <div class="clearfix"></div>

                <!-- script-for sticky-nav -->
                <script>
                    $(document).ready(function () {
                        var navoffeset = $(".header-main").offset().top;
                        $(window).scroll(function () {
                            var scrollpos = $(window).scrollTop();
                            if (scrollpos >= navoffeset) {
                                $(".header-main").addClass("fixed");
                            } else {
                                $(".header-main").removeClass("fixed");
                            }
                        });

                    });
                </script>
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                <div class="inner-block">

                </div>

                <!--inner block end here-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        @RenderBody();
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li><a href="/Admin/Index"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>
                    <li>
                        <a href="#"><i class="fa fa-check-square-o nav_icon"></i><span>Urunler</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                        <ul>
                            <li><a href="/Admin/Input"> Urun Ekle</a></li>
                            <li><a href="/Admin/Urunler">Urunler</a></li>
                        </ul>
                    </li>

                    <li id="menu-academico"><a href="/Admin/Inbox"><i class="fa fa-envelope nav_icon"></i><span>Inbox</span><div class="clearfix"></div></a></li>
                    <li><a href="tabels.html"><i class="fa fa-table"></i>  <span>Tables</span><div class="clearfix"></div></a></li>
                    <li><a href="maps.html"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Maps</span><div class="clearfix"></div></a></li>
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-file-text-o"></i>  <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-boletim"><a href="calendar.html">Calendar</a></li>
                            <li id="menu-academico-avaliacoes"><a href="signin.html">Sign In</a></li>
                            <li id="menu-academico-avaliacoes"><a href="signup.html">Sign Up</a></li>


                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
    <!--js -->
    <script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- morris JavaScript -->
    <script src="~/Content/Admin/js/raphael-min.js"></script>
    <script src="~/Content/Admin/js/morris.js"></script>

    <script type="text/javascript">


        $('#submit').on('click', function (e) { //event binding
            console.log($('#Renk').val());
            var fd = new FormData();

            var gelenur = {
                'aciklama': $('#aciklama').val(),
                'urunadi': $('#Renk').val(),
                'yas': $('#Yas').val(),
                'tecrube': $('#Tecrube').val(),
                'kuyruk': $('#Kuyruk').val(),
                'fiyat': $('#Fiyat').val(),
                'resim': $('#inputpic').val(),
            }
            fd.append("aciklama", $('#aciklama').val()),
                fd.append("ourFile", inputpic.files[0]);
            fd.append("urunadi", $('#Renk').val());
            fd.append("yas", $('#Yas').val());
            fd.append("tecrube", $('#Tecrube option:selected').val());
            fd.append("kuyruk", $('#Kuyruk option:selected').val());
            fd.append("fiyat", $('#Fiyat').val());
            fd.append("resim", inputpic.files[0]);

            var flag = 0;
            $('.bbb').each(function (i, v) {
                if ($(v).val() == "" || $(v).val() == null) {
                    flag = 1; alert($(v).data('hata')); return false; // breaks
                }
            });

            if (flag == 1) {

            }
            else {
                $.ajax({

                    url: "/Admin/Urunekle",
                    method: 'POST',
                    processData: false,
                    contentType: false,
                    beforeSend: function (r) {
                    },
                    data: fd,
                    success: function (data) {
                        console.log(data);


                    }
                });
            }
        });
    </script>
</body>
</html>
